footer.footer
  .footer__wrapper
    p.footer__name=footer.data.name[0].text
    .footer__socials__items
      each item in footer.data.body[0].items
        a.footer__socials__item(href=item.sociallink1.url target='_blank' data-type='out')=item.socialtitle[0].text
