@font-face {
  font-family: $font-space-grotesk;
  src: url('../fonts/space-grotesk-bold.woff2') format('woff2'),
      url('../fonts/space-grotesk-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-space-grotesk;
  src: url('../fonts/space-grotesk-light.woff2') format('woff2'),
      url('../fonts/space-grotesk-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-space-grotesk;
  src: url('../fonts/space-grotesk-regular.woff2') format('woff2'),
      url('../fonts/space-grotesk-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
